<!DOCTYPE html>
<html>
  <body>
    <p>Harvey Lin Assignment 4</p>
    <p>Using the http gem package to dump the https response for www.cpp.edu</p>
    <p>
      <code>
        <%= @html_dump %>
      </code>
    </p>
  </body>
</html>
