<!DOCTYPE html>
<html>
  <body>
    <h>Assignment 3 part 3 done by Harvey Lin</h>
    <p>
      The current top voted meme in the database is<br>
      <img src=<%= @post2.url %>>
    </p>
    <p>
      Here's a random meme<br>
      <img src=<%= @post1.url %>>
    </p>
  </body>
</html>
