<!DOCTYPE html>
<html>
  <body>
    <h1>Assignment 3 part 3</h1><br>
    <h2>by Sean Nakama</h2><br>
    <p>
      Here's a random meme<br>
      <img src=<%= @post1.url %>>
    </p>
  </body>
</html>
